.story-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 250px;
    padding-right: 250px;
}

.story-image{
  /* text-align: center; */
  width: 520px;
}

.our-story-body {
    padding-top: 125px;
    text-align: center;
    /* width: 100%; */
}
